body {
    background-color: black;
    /* background-image:url('images/Signin.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
      
.jumbotron{
    background-image:url(../Multimedia/Books/hush.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y:%; */
    height: 280px;
    background-color: rgba(15, 14, 14, 0.81) !important;
    background-blend-mode: color;
}

.cardmovie {
    margin-top: 3%;
    margin-left: 3%;
}
          
.explain {
    color:white;
}
      
.overview {
    color: white;
    margin-top: -4%;
    margin-left: 27%;
}

/*	Top Logo	*/
.logo {
	float:left;
	padding-top: 0.5%;
	margin-left: 4%;
	width: 10%;
	height: 30%;
	align-items: center;
	font-size: 2vw;
	padding-right: 0;
}

.logo a {
	width: 100%;
	height: 170%;
	background: url('../Multimedia/Images/Intro/logo-background.png');
	background-size:cover;
	font-family: variane;
	font-size:75%;
	color: white;
	display: block;
	text-decoration: none;
    transition: all 1s;
    padding-left: 9%;
}

.logo a:hover {
    transform: scale(1.5);
}

.navbar-nav {
    padding-left: 60%;
}

